:root {
  --basic-red: #ee3643;
  --brick-red: #ca2c37;
  --basic-green: #63a63e;
  --dark-green: #518534;
  --shadow-green: #367315;
  --basic-blue: #293449;
  --pale-blue: #405069;
  --dark-blue: #212a3a;
  --grey-blue: #32425c;
  --black-blue: #161d29;
  --basic-grey: #3d546f;
  --pink-grey: #bdb1b2;
  --silver-grey: #ababab;
  --dark-grey: #a9a9a9;
  --red-grey: #e5e5e5;
  --dark-ligth-grey: #eaeaea;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --white: #ffffff;
  --grey-white: #f7f3ec;
  --blue-white: #f3f7f9;
  --yellow-white: #f9f5f0;
  --red-white: #f1f1f1;
  --black: #000000;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;
  --light-grey: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #eaeaea;
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("cuprum"),
       url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: local("cuprumitalic"), url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: local("cuprumbold"), url("../fonts/cuprumbold.woff2") format("woff2"),
    url("cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: local("../fonts/cuprumbolditalic"), url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("ptsans"), url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: local("ptsansbold"), url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.main-header-bar {
  height: 42px;
  margin-bottom: 45px;
  background: var(--basic-blue);
}

.main-header-bar-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 1fr 450px;
  grid-template-columns: 220px 1fr 450px;
}

.main-header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--basic-red);
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 47px;
}

.main-header-logo:active {
  background: var(--error);
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-button {
  position: absolute;
  left: 17px;
  top: 12px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-image: url("../img/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  opacity: 0.3;
}

.search:hover + .search-button {
  opacity: 1;
}

.search:focus + .search-button {
  background-image: url("../img/icons/icon-search-red.svg");
  opacity: 1;
}

.search {
  border: none;
  outline: none;
  padding-left: 42px;
  background-color: var(--basic-blue);
  width: 100%;
  height: 42px;
  opacity: 1;
}

.search::placeholder {
  color: var(--white);
  opacity: 1;
}

.search:focus {
  background-color: var(--white);
}

.search::-webkit-input-placeholder {
  color: var(--white);
  border: none;
  outline: none;
  opacity: 1;
}

input:-moz-placeholder {
  color: var(--white);
  opacity: 1;
}

input:-ms-input-placeholder {
  color: var(--white);
  opacity: 1;
}

.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  height: 42px;
}

.sub-menu-item {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-menu a {
  height: 42px;
  padding-left: 22px;
  color: var(--white);
  text-decoration: none;
}

.sub-menu a:last-child {
  padding-left: 0;
}

.bookmark,
.basket {
  position: relative;
}

.bookmark::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 13px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icons/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmark:active {
  color: rgba(255, 255, 255, 0.5);
}

.basket::before {
  content: "";
  position: absolute;
  left: 26px;
  top: 13px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.inner-page .basket {
  background-color: var(--basic-red);
}

.main-header-search:hover::before,
.bookmark:hover::before,
.basket:hover::before {
  opacity: 1;
}

.main-header-search:active::before,
.bookmark:active::before,
.basket:active::before {
  opacity: 0.3;
}

.basket:active {
  color: rgba(255, 255, 255, 0.5);
}

.bookmark:active,
.basket:active {
  background-color: var(--black-blue);
}

.order {
  background-color: var(--basic-green);
}

.order:hover {
  background-color: var(--success);
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-header-center {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin-bottom: 38px;
}

.main-header-text {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  padding: 0 30px;
  width: 259px;
}

.main-header-text p {
  margin: 0;
}

.main-menu-adress {
  position: relative;
  color: var(--grey-blue);
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header-tel::before {
  content: "";
  position: absolute;
  left: 46px;
  top: 14px;
  width: 18px;
  height: 19px;
  background-image: url("../img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--white);
  text-decoration: none;
  width: 270px;
  margin-left: -25px;
  padding: 7px 48px 8px 74px;
}

.main-menu-adress p {
  margin: 0;
  margin-left: -30px;
}

.login {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}

.login a:active {
  color: var(--basic-greylight);
}

.enter,
.registration,
.client-name,
.exit {
  background: var(--white);
}

.enter {
  width: 121px;
  height: 45px;
  padding-left: 17px;
}

.enter::before {
  content: " ";
  position: absolute;
  left: 51px;
  top: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.enter:hover::before {
  background-image: url("../img/icons/icon-login-hover.svg");
}

.enter:active::before {
  background-image: url("../img/icons/icon-login.svg");
}

.registration {
  width: 150px;
  height: 45px;
  margin-left: 10px;
}

.enter:hover,
.registration:hover {
  color: var(--basic-red);
}

.enter:active,
.registration:active {
  color: var(--basic-greylight);
}

.client-name {
  padding-left: 56px;
  width: 254px;
  height: 45px;
}

.client-name::before {
  content: " ";
  position: absolute;
  left: 23px;
  top: 14px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icons/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.client-name:hover::before {
  background-image: url("../img/icons/icon-user-hover.svg");
}

.client-name:active::before {
  background-image: url("../img/icons/icon-user.svg");
}

.exit {
  width: 45px;
  height: 45px;
  background-image: url("../img/icons/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.exit:hover {
  background-image: url("../img/icons/icon-logout-hover.svg");
}

.exit:active {
  background-image: url("../img/icons/icon-logout.svg");
}

.main-menu-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header-client {
  width: 300px;
  height: 45px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  border: none;
}

.main-header-client:active {
  color: var(--basic-greylight);
}

.main-header-client::-webkit-input-placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.main-header-client::-webkit-input-placeholder:active {
  color: var(--basic-greylight);
}

.private {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
  list-style: none;
  margin-top: 10px;
}

.private a {
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey-blue);
}

.private a:hover {
  color: var(--basic-red);
}

.private a:active {
  color: var(--basic-greylight);
}

.private-order::before {
  content: "";
  position: absolute;
  left: 90px;
  top: 8px;
  background-color: var(--grey-blue);
  width: 4px;
  height: 4px;
  border: 1px solid var(--grey-blue);
  border-radius: 50%;
}

.main-nav {
  background-color: var(--grey-blue);
  -webkit-box-shadow: inset 0 -5px 0 var(--basic-blue);
          box-shadow: inset 0 -5px 0 var(--basic-blue);
  padding: 0 20px;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
}

.main-nav-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 24px 20px 27px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

.main-nav-list a[href]:hover {
  background: var(--basic-blue);
  -webkit-box-shadow: inset 0 -5px 0 var(--basic-blue);
          box-shadow: inset 0 -5px 0 var(--basic-blue);
}

.main-nav-list a[href]:active {
  color: rgba(255, 255, 255, 0.5);
}

.promo {
  margin-top: 59px;
  margin-bottom: 59px;
}

.promo-list {
  list-style: none;
  color: var(--white);
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 20px 300px 20px 300px;
  grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: 123px 20px 123px 20px 123px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
}

.promo-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.promo-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.promo-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.promo-list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.promo-list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.promo-list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.promo-list > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.promo-list > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.promo-list > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.promo-item {
  position: relative;
  width: 300px;
  height: 123px;
  padding: 21px 22px;
  overflow: hidden;
}

.material {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--special-yellow);
  background-image: url("../img/promo-icons/material.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--special-blue);
  background-image: url("../img/promo-icons/tool.svg");
  background-repeat: no-repeat;
  background-position: 195px 34px;
}

.technics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--special-lilac);
  background-image: url("../img/promo-icons/technics.svg");
  background-repeat: no-repeat;
  background-position: 190px 50%;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--special-greenlight);
  background-image: url("../img/promo-icons/sale.svg");
  background-repeat: no-repeat;
  background-position: 195px 25px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--warning);
  background-image: url("../img/promo-icons/delivery.svg");
  background-repeat: no-repeat;
  background-position: 190px 32px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.promo-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.promo-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  width: 135px;
  height: 38px;
}

.promo a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.promo a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.promo-slider-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 620px;
  height: 266px;
  background-color: var(--special-lilac);
}

.promo-slider-item {
  display: none;
  position: relative;
}

.promo-slider-item:first-child {
  display: block;
}

.promo-item-slider {
  position: relative;
  overflow: hidden;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}

.black-bar {
  position: absolute;
  width: 620px;
  height: 104px;
  background: rgba(0, 0, 0, 0.25);
}

.promo-slider-item h3 {
  position: absolute;
  top: -13px;
  left: 24px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider-item p {
  position: absolute;
  top: 46px;
  left: 24px;
  font-size: 18px;
  line-height: 24px;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  width: 10px;
  height: 10px;
  border: 2px solid var(--white);
  background-color: var(--basic-red);
}

.promo-slider-item .btn {
  position: absolute;
  left: 24px;
  bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 192px;
  height: 38px;
  z-index: 5;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
}

.promo-slider-item .btn:hover {
  background: var(--brick-red);
}

.promo-slider-item .btn:active {
  background: var(--error);
}

.slider-arrows-left {
  position: absolute;
  left: 24px;
  top: 121px;
  z-index: 5;
  width: 23px;
  height: 41px;
  background-image: url("../img/icons/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-arrows-right {
  position: absolute;
  right: 19px;
  top: 121px;
  z-index: 5;
  width: 23px;
  height: 41px;
  background-image: url("../img/icons/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.page-catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 20px 1fr;
  grid-template-columns: 220px 1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 20px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 460px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: -5px;
  padding: 0;
  list-style: none;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: -2;
  grid-column-end: -1;
}

.breadcrumbs li {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  right: -24px;
  top: 5px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icons/icon-right-small.svg");
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--black);
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: var(--grey-blue);
  background: var(--basic-background);
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 1 / -1;
  padding: 30px;
  margin: 0;
}

.filters {
  width: 220px;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.filters h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--grey-white);
  text-transform: uppercase;
  margin: 0;
  padding: 10px 18px;
  margin-bottom: 13px;
}

.filter fieldset {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 17px;
  border: none;
  border-bottom: 1px solid var(--red-grey);
}

.filter fieldset:nth-child(2) {
  padding-bottom: 12px;
}

.filter fieldset:nth-child(3) {
  border-bottom: none;
  margin-bottom: 5px;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--grey-white);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-greylight);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--silver-grey);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
          box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.range-controls .toggle:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.toggle::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 4px;
  height: 4px;
  background-color: var(--silver-grey);
  border-radius: 50%;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  text-align: center;
  color: var(--black);
  border: none;
  border-radius: 5px;
  background: var(--grey-white);
  font-family: inherit;
  font-size: 17px;
}

.filter ul {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 18px;
}

.filter-item:nth-child(3) .filter-option {
  margin-top: 24px;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.4;
  cursor: auto;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  background-image: url("../img/icons/checkbox-off-hover.svg");
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  background-image: url("../img/icons/checkbox-on-hover.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off.svg");
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  background-image: url("../img/icons/radio-off-hover.svg");
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-on.svg");
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  background-image: url("../img/icons/radio-on-hover.svg");
}

.filter-button {
  width: 220px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--white);
  text-transform: uppercase;
  border: 1px solid var(--red-grey);
  margin-top: -25px;
}

.sorting-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
  background-color: var(--grey-white);

}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 355px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.sorting-banner h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-right: 120px;
  padding: 10px 20px;
}

.sorting a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed var(--basic-red);
}

.sorting a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0);
  border-bottom: 1px solid var(--pink-grey);
}

.sorting a:active {
  text-decoration: none;
  color: var(--basic-red);
  border-bottom: none;
}

.sorting-arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.sorting-arrows .arrow-up {
  content: "";
  position: absolute;
  top: 14px;
  left: 45px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/sorting-arrows-red.svg");
  background-repeat: no-repeat;
}

.sorting-arrows .arrow-up:hover,
.sorting-arrows .arrow-down:hover {
  background-image: url("../img/icons/sorting-arrows-black.svg");
}

.sorting-arrows .arrow-down {
  content: "";
  position: absolute;
  top: 0;
  left: 64px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/sorting-arrows-gray.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.goods {
  margin-bottom: 50px;
}

.goods-header {
  background-color: var(--yellow-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  height: 89px;
}

.goods-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 192px;
  height: 38px;
  text-decoration: none;
  color: var(--white);
  background: var(--basic-red);
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-right: 14px;
}

.goods-header a:hover {
  background: var(--brick-red);
}

.goods-header a:active {
  background: var(--error);
}

.goods-header h2,
.producers-header h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--grey-blue);
  padding-left: 28px;
}

.goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inner-page .goods-list {
  margin-bottom: 30px;
}

.goods-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 18px;
  padding: 6px 17px 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: var(--white);
  border: 1px solid var(--dark-ligth-grey);
}

.page-body .goods-item:last-child {
  margin-right: 0;
}

.inner-page .goods-item:nth-child(3n) {
  margin-right: 0;
}

.goods-item-buttons {
  position: absolute;
  top: -200px;
  left: 50%;
  display: none;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.goods-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.goods-item:hover .goods-item-buttons {
  display: block;
  top: 38px;
}

.goods-item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 135px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  background-color: var(--white);
  color: var(--grey-blue);
}

.goods-item-button-buy {
  margin-bottom: 10px;
  background-color: var(--basic-green);
  color: var(--white);
  -webkit-box-shadow: inset 0px -3px 0px var(--shadow-green);
          box-shadow: inset 0px -3px 0px var(--shadow-green);
}

.goods-item-button-buy:hover {
  background-color: var(--success);
}

.goods-item-button-buy:active {
  background-color: var(--dark-green);
}

.goods-item-button-buy::before {
  content: "";
  position: absolute;
  left: 23px;
  top: 11px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.goods-item-button-bookmark {
  border: 3px solid var(--basic-green);
}

.goods-item-button-bookmark:hover {
  border-color: var(--grey-blue);
}

.goods-item-button-bookmark:active {
  opacity: 0.3;
}

.goods-item-thumbnail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 184px;
  height: 164px;
}

.goods-item:hover .goods-item-thumbnail-wrapper {
  opacity: 0;
}

.goods-item-link {
  text-decoration: none;
}

.goods-item-title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--black);
  text-align: center;
}

.goods-item-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
}

.goods-item-price-sale {
  text-decoration: line-through;
  color: var(--dark-grey);
  margin-top: 0;
  margin-bottom: 14px;
}

.goods-item-price-current {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 141px;
  height: 38px;
  background: var(--basic-red);
  border-radius: 2px;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 11px;
  padding-right: 11px;
}

.goods-item-price-current::after,
.goods-item-price-current::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  right: 0;
}

.goods-item-price-current::before {
  top: 0;
  border-width: 0 18px 19px 0;
  border-color: transparent var(--white) transparent transparent;
}

.goods-item-price-current::after {
  bottom: 0;
  border-width: 0 0 19px 18px;
  border-color: transparent transparent var(--white) transparent;
}

.new-item {
  position: relative;
  overflow: hidden;
}

.new-item::before {
  content: "New";
  position: absolute;
  top: 8px;
  right: -28px;
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-red);
  height: 30px;
  width: 100px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.producers {
  margin-bottom: 70px;
}

.producers-header {
  background-color: var(--yellow-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  height: 89px;
}

.producers-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 192px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: var(--white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin-right: 14px;
}

.producers-header a:hover {
  background: var(--brick-red);
}

.producers-header a:active {
  background: var(--error);
}

.producers-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.producers-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.producers-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.producers-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.producers-list > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.producers-list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.producers-list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.producers-list > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.producers-list > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.producers-item {
  width: 220px;
  height: 145px;
  background: var(--white);
  border: 1px solid var(--dark-ligth-grey);
}

.producers-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producers-item:active {
  opacity: 0.3;
}

.producers-item a {
  width: 220px;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  background-color: var(--basic-background);
  padding-top: 67px;
  padding-bottom: 10px;
  margin-bottom: 70px;
}

.services-wrapper {
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
}

.services-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 70px;
  width: 400px;
}

.services-sliders {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px 1fr;
  grid-template-columns: 240px 1fr;
}

.services-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-list::after {
  content: " ";
  position: absolute;
  top: 35%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 279px;
  background-image: url("../img/servis-slider.png");
}

.services-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding-left: 22px;
  height: 61px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background: var(--grey-blue);
  -webkit-box-shadow: 0 1px 0 var(--basic-blue), inset 0 1px 0 var(--pale-blue);
          box-shadow: 0 1px 0 var(--basic-blue), inset 0 1px 0 var(--pale-blue);
}

.services-list a:hover {
  background: var(--basic-blue);
  -webkit-box-shadow: 0 1px 0 var(--basic-blue), inset 0 1px 0 var(--pale-blue);
          box-shadow: 0 1px 0 var(--basic-blue), inset 0 1px 0 var(--pale-blue);
}

.services-list a:active {
  color: var(--grey-blue);
  background: var(--white);
  -webkit-box-shadow: 0 1px 0 var(--white), inset 0 1px 0 var(--white);
          box-shadow: 0 1px 0 var(--white), inset 0 1px 0 var(--white);
}

.services-slider-delivery {
  margin-left: 80px;
  background-color: var(--basic-background);
  background-image: url("../img/servis-delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 20px;
  height: 275px;
}

.services-slider-guarantee {
  display: none;
  margin-left: 80px;
  background-color: var(--basic-background);
  background-image: url("../img/servis-guarantee.png");
  background-repeat: no-repeat;
  background-position: 238px -2px;
  height: 275px;
}

.services-slider-credit {
  display: none;
  margin-left: 80px;
  background-color: var(--basic-background);
  background-image: url("../img/servis-credit.png");
  background-repeat: no-repeat;
  background-position: 165px -2px;
  height: 275px;
}

.services-slider-credit .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 195px;
  height: 38px;
  margin-top: 25px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--white);
  border: none;
  border-radius: 2px;
  background: var(--basic-red);
  text-transform: uppercase;
}

.services-slider-credit .btn:hover {
  background: var(--brick-red);
}

.services-slider-credit .btn:active {
  background: var(--error);
}

.services-slider h3 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  color: var(--grey-blue);
  text-transform: uppercase;
}

.services-slider-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  width: 400px;
}

.about-contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 67px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: end;
}

.about h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--black);
  margin: 0;
  margin-bottom: 24px;
}

.about-text,
.contacts-text {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
}

.contacts-text {
  width: 180px;
  margin-bottom: 24px;
}

.about-text:nth-child(2) {
  margin-bottom: 25px;
}

.about-text:nth-child(3) {
  margin-bottom: 4px;
  width: 400px;
}

.about-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 6px;
}

.about-list-item {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 12px;
}

.about-list-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -27px;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  background-color: var(--basic-red);
}

.about .btn,
.contacts .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--white);
  background: var(--basic-red);
  text-transform: uppercase;
}

.contacts .btn {
  margin-top: 28px;
}

.about .btn:hover,
.contacts .btn:hover {
  background: var(--brick-red);
}

.about .btn:active,
.contacts .btn:active {
  background: var(--error);
}

.contacts-map {
  margin-bottom: auto;
}

.about .btn {
  width: 220px;
  height: 38px;
  margin-top: auto;
}

.contacts .btn {
  width: 300px;
  height: 38px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.pagination-item {
  margin-right: 10px;
  border: 1px solid var(--red-grey);
  border-radius: 2px;
  padding: 8px 14px;
}

.pagination-item a {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
}

.pagination-item:last-child {
  padding-left: 32px;
  padding-right: 31px;
  border: 1px solid var(--red-grey);
  border-radius: 2px;
}

.pagination-item:hover {
  border-color: var(--basic-greylight);
}

.pagination-item:active {
  border-color: var(--basic-red);
}

.pagination-item-current a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 38px;
  height: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--white);
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.about-goods {
  background-color: var(--basic-background);
  grid-column: 1 / -1;
  padding-top: 37px;
  padding-bottom: 70px;
}

.about-goods h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.about-goods-text {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.main-footer {
  background-color: var(--grey-blue);
  font-size: 18px;
  color: var(--blue-white);
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-footer-text p {
  width: 333px;
  margin: 0;
  margin-top: 15px;
}

.main-footer-tel {
  color: var(--blue-white);
  text-decoration: none;
}

.main-footer-adress {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 1fr;
  grid-template-columns: 360px 1fr;
}

.main-footer-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 35px;
  width: 550px;
}

.main-footer-menu a {
  text-decoration: none;
  color: var(--basic-background);
}

.main-footer-menu a:hover {
  text-decoration: underline;
}

.main-footer-menu a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.main-footer-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 525px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer-submenu a {
  text-decoration: none;
  color: var(--special-yellowlight);
}

.main-footer-submenu a:hover {
  text-decoration: underline;
}

.main-footer-submenu a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--basic-blue);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  height: 107px;
  margin-top: auto;
}

.bottom-footer .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 390px 250px 190px 110px;
  grid-template-columns: 390px 250px 190px 110px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -115px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 0;
  list-style: none;
}

.socials-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: var(--white);
  width: 44px;
  height: 44px;
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 50%;
  margin-right: 4px;
}

.socials-list a:hover,
.socials-list a:active {
  background-color: var(--basic-red);
}

.bottom-footer-feedback a,
.bottom-footer-developed a {
  color: var(--special-yellowlight);
  text-decoration: none;
}

.bottom-footer-feedback a:hover {
  text-decoration: underline;
}

.bottom-footer-feedback a:active {
  color: var(--basic-red);
}

.bottom-footer-developed a:hover {
  text-decoration: underline;
}

.bottom-footer-developed a:active {
  color: var(--basic-red);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  color: var(--black);
  background-color: var(--white);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-top: 7px solid var(--basic-red);
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  width: 100%;
  height: 112px;
  text-transform: uppercase;
  background-color: var(--red-white);
  margin-top: 14px;
}

.feedback-button {
  width: 460px;
  height: 38px;
  border: none;
  background-color: var(--basic-red);
  color: var(--white);
  text-transform: uppercase;
}

.modal-button-bottom {
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  width: 100%;
  height: 112px;
  text-transform: uppercase;
  background-color: var(--red-white);
  margin-top: 14px;
}

.modal-feedback {
  display: none;
  width: 620px;
  top: 120px;
  bottom: auto;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/icons/red-cross.svg");
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.modal-feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--black);
  font-size: 18px;
  line-height: 24px;
  width: 460px;
  margin: 0 auto;
  margin-top: 40px;
}

.modal-feedback-form p {
  margin: 0;
  margin-bottom: 15px;
}

.modal-feedback-form-item {
  width: 220px;
}

.modal-feedback-form input {
  width: 220px;
  height: 38px;
  margin-top: 10px;
  padding: 7px 12px;
}

.feedback-text {
  width: 460px;
  resize: none;
  border: 2px solid var(--basic-greylight);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  margin-top: 10px;
  padding: 7px 12px;
}

.modal-feedback-form input[type="text"],
.modal-feedback-form input[type="email"] {
  border: 2px solid var(--basic-greylight);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.feedback-login,
.feedback-mail,
.feedback-text {
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-grey);
}

.modal-map {
  display: none;
  width: 943px;
  height: 499px;
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}

.modal-basket {
  display: none;
  top: 120px;
  bottom: auto;
  width: 620px;
}

.modal-basket-text {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--black);
  font-weight: 700;
  height: 150px;
  padding-top: 68px;
  margin: 0;
}

.modal-basket-text::before {
  content: "";
  position: absolute;
  left: 80px;
  top: 48px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icons/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-basket a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  width: 192px;
  height: 38px;
}

.modal-basket-buy {
  color: var(--white);
  background-color: var(--basic-red);
  margin-right: 10px;
}

.modal-basket-continue {
  color: var(--black);
  background-color: var(--white);
}

.modal-show {
  display: block;
}


