:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --white: #ffffff;
    --black: #000000;
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --light-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;

}
@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src:  local("cuprum"),
        url("cuprum.woff2") format("woff2"),
        url("cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src:  local("cuprumitalic"),
        url("cuprumitalic.woff2") format("woff2"),
        url("cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src:  local("cuprumbold"),
        url("cuprumbold.woff2") format("woff2"),
        url("cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src:  local("cuprumbolditalic"),
        url("cuprumbolditalic.woff2") format("woff2"),
        url("cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:  local("ptsans"),
        url("ptsans.woff2") format("woff2"),
        url("ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:  local("ptsansbold"),
        url("ptsansbold.woff2") format("woff2"),
        url("ptsansbold.woff") format("woff");
}

.page {
  height: 100%;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.main-header {
  background-color: var(--basic-background);
  font-size: 18px;
  line-height: 24px;
  color: var(--white);

  outline: 5px solid rgba(251, 255, 0, 0.705);
  outline-offset: -5px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.main-header-bar {
  background: #293449;

  margin-bottom: 40px;
}

.sub-menu {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;

  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.sub-menu a {
  color: var(--white);
  text-decoration: none;


}

.main-header-logo {
  background: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:active {
  background: #BA2732;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.search::-webkit-input-placeholder {
  background-color: #293449;
  color: var(--white);
  border: none;
  outline: none;
}

input:focus {
  background: var(--white);
  color: var(--black);
}

.bookmark:active {
  color: rgba(255, 255, 255, 0.5);
}

.basket:active {
  color: rgba(255, 255, 255, 0.5);
}

.bookmark:hover,
.basket:hover {
  background-color: #161D29;
}

.order {
  background-color: var(--basic-green);
}

.order:hover {
  background-color: #5FBB2D;;
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-header-center {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0;
}

.main-header-text {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  padding: 0 30px;
}

.main-menu-adress {
  color: #32425C;
  font-size: 14px;
}

.main-header-tel {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--white);
  text-decoration: none;
  padding: 13px 39px;
  background: url("img/icons/icon-phone.svg") no-repeat 15px 50%;
}

.login li{
  list-style: none;
  font-size: 21px;
  line-height: 21px;
}

.login a {
  text-decoration: none;
  color: var(--black);
}

.enter,
.registration {
  background: var(--white);
}

.enter:hover,
.registration:hover {
  color: var(--basic-red);
}

.enter:active,
.registration:active {
  color: #C5C5C5;
}

.main-header-client {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
  border: none;
}

.main-header-client:active {
  color: var(--basic-greylight);
}

.main-header-client::-webkit-input-placeholder  {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.main-header-client::-webkit-input-placeholder:active {
  color: var(--basic-greylight);
}

.private {
  list-style: none;
}

.private a {
  font-family: "Cuprum", Arial, sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.private a:hover {
  color: var(--basic-red);
}

.private a:active {
  color: var(--basic-greylight);
}

.main-nav {
  background-color: #32425C;
  box-shadow: inset 0 -5px 0 #293449;

  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.main-nav-item {
  font-family: "Cuprum", Arial, sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.main-nav-list {
  list-style: none;
}

.main-nav-list a {
  font-family: "Cuprum", Arial, sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

.main-nav-list a:hover {
  background: #293449;
  box-shadow: inset 0 -5px 0 #293449;
}

.main-nav-list a:active {
  color: rgba(255, 255, 255, 0.5);
}

.promo {
  margin-bottom: 70px;

  outline: 5px solid rgba(11, 243, 80, 0.3);
  outline-offset: -5px;
}



.promo h2 {
  display: none;
}

.promo-list {
  list-style: none;
  color: var(--white);
  padding: 0;

  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;


}

.promo-item {
  width: 300px;
  height: 123px;
}

.material {
  background-color: #FFBF47;


}

.tool {
  background-color: #3BBCE3;

}

.technics {
  background-color: #DC91D8;

}

.sale {
  background-color: #8ED78F;
  order: 1;
}

.delivery {
  background-color: #FFBF47;
  order: 1;
}



.promo-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo a {
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.promo a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.promo a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.promo-slider-list {
  outline: 5px solid rgba(0, 89, 255, 0.3);
  outline-offset: -5px;

  list-style: none;
  margin: 0;
  padding:0;

  width: 620px;
  height: 266px;
  background-color: #BA2732;
  position: relative;
}

 .promo-slider-item {
  display: none;
}

.promo-slider-item:first-child {
  display: block;
}

.promo-slider-item h3{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  position: absolute;
  top: -5px;
  left: 23px;
}

.promo-slider-item p {
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  top: 50px;
  left: 23px;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 300;
  z-index: 20;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.promo-slider .btn {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.promo-slider .btn:hover {
  background: #CA2C37;
}

.promo-slider .btn:active {
  background: #CA2C37;
}

.page-header{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  background: var(--basic-background);
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 1 / -1;
  padding: 30px;

  outline: 5px solid rgba(243, 239, 6, 0.76);
  outline-offset: -5px;
}

.page-catalog {
  outline: 5px solid rgba(9, 189, 63, 0.76);
  outline-offset: -5px;

  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  gap: 20px;

}



.breadcrumbs {
  list-style: none;
  grid-column: 1 / -1;

  outline: 5px solid rgba(189, 9, 114, 0.76);
  outline-offset: -5px;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--black);
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.filters {

  outline: 5px solid rgba(12, 9, 189, 0.76);
  outline-offset: -5px;

}

.filters h2{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--white);
  text-transform: uppercase;
}

.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.sorting-banner h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #F7F3EC;
}

.sorting {
  list-style: none;
}

.sorting a {
  text-decoration: none;
  color:rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #EE3643;
}

.sorting a:hover {
  text-decoration: none;
  color:rgba(0, 0, 0);
  border-bottom: 1px solid #EE3643;
}

.sorting a:active {
  text-decoration: none;
  color:#EE3643;
  border-bottom: none;
}

.price-controls {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.goods {
  outline: 5px solid rgba(25, 88, 6, 0.3);
  outline-offset: -5px;

}

.goods-header {
  background-color: #F9F5F0;
  outline: 5px solid rgba(25, 88, 6, 0.3);
}

.goods-header a {
  text-decoration: none;
  color: var(--white);
  background: var(--basic-red);
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.catalog {
  outline: 5px solid rgba(9, 223, 238, 0.76);
  outline-offset: -5px;
}

.catalog h2 {
  display: none;
}

.goods-header h2,
.producers-header h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425C;
}

.goods-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.goods-item a {
  text-decoration: none;
}

.goods-item h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #A9A9A9;
  text-decoration: line-through;
}

.new-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  background: var(--basic-red);
}

.goods-item-buy .btn-buy {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background: var(--basic-green);
  box-shadow: inset 0 -3px 0 #367315;
  border-radius: 2px;
  text-transform: uppercase;
}

.goods-item-buy .btn-bookmark {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425C;
  background: #D8D8D8;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  text-transform: uppercase;
}

.producers {
  outline: 5px solid rgba(9, 36, 85, 0.781);
  outline-offset: -5px;
}


.producers-header {
  background-color: #F9F5F0;
}

.producers-header a {
  font-family: "Cuprum", Arial, sans-serif;
  text-decoration: none;
  color: var(--white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.producers-list {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;

}

.services {
  background-color: var(--basic-background);

  outline: 5px solid rgba(222, 238, 5, 0.733);
  outline-offset: -5px;


}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}



.services-text,
.services-slider-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

}

.services-text {
  width: 400px;
}

.services-sliders {
  outline: 5px solid rgba(164, 5, 238, 0.733);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 240px 1fr;
}

.services-list {
  list-style: none;
}

.services-list a {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background: #32425C;
  box-shadow: 0  1px 0 #293449, inset 0 1px 0  #405069;
}

.services-list a:hover {
  background: #293449;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.services-list a:active {
  color: #32425C;
  background: #FFFFFF;
  box-shadow: 0  1px 0 #FFFFFF, inset 0 1px 0 #FFFFFF;
}


.services-slider h3 {
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  text-transform: uppercase;
}

.about-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;

  outline: 5px solid rgba(238, 5, 44, 0.733);
  outline-offset: -5px;
}

.about{



  outline: 5px solid rgba(5, 238, 160, 0.733);
  outline-offset: -5px;
}

.contacts {
  justify-self: end;

  outline: 5px solid rgba(191, 5, 238, 0.733);
  outline-offset: -5px;
}

.about h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.about-text,
.contacts-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-list {
  list-style: none;
}

.about-list-item {
  font-size: 18px;
  line-height: 24px;
}

.about .btn,
.contacts .btn {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--white);
  background: var(--basic-red);
  text-transform: uppercase;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: var(--black);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.pagination-item-current a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.pagination-item a:active {
  border: 1px solid #EE3643;
}

.pagination-item-current a {
  color: var(--white);
  border: 1px solid #EE3643;
  background-color: #EE3643;
  border-radius: 2px;
}

.about-goods {
  background-color: var(--basic-background);
  grid-column: 1 / -1;
}

.about-goods h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.about-goods-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.main-footer {
  background-color: #32425C;
  font-size: 18px;
  color: #F3F7F9;

  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.main-footer-tel {
  color: #F3F7F9;
  text-decoration: none;
}

.main-footer-adress {
  display: grid;
  grid-template-columns: 1fr 1fr;

  outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px;
}

.main-footer-text {
  outline: 5px solid rgba(238, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-footer-adress h2 {
  display: none;
}

.main-footer-menu {
  list-style: none;
}

.main-footer-menu a {
  text-decoration: none;
  color: #F1F5F7;
}

.main-footer-menu a:hover {
  text-decoration: underline;
}

.main-footer-menu a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5)
}

.main-footer-submenu {
  list-style: none;
}

.main-footer-submenu a {
  text-decoration: none;
  color: #FFD180;
}

.main-footer-submenu a:hover {
  text-decoration: underline;
}

.main-footer-submenu a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5)
}

.bottom-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);

  outline: 5px solid rgba(118, 238, 5, 0.733);
  outline-offset: -5px;
}

.socials h2 {
  display: none;
}

.socials-list {
  list-style: none;
}

.socials-list a {
  text-decoration: none;
  color: var(--white);
}

.bottom-footer-feedback a,
.bottom-footer-developed a {
  color: #FFD180;
  text-decoration: none;
}


.bottom-footer-feedback a:hover {
  text-decoration: underline;
}

.bottom-footer-feedback a:active {
  color: var(--basic-red);
}

.bottom-footer-developed a:hover {
  text-decoration: underline;
}

.bottom-footer-developed a:active {
  color: var(--basic-red);
}

.modal-feedback h2 {
  display: none;
}

.modal-feedback-form {
  color: var(--black);
  font-size: 18px;
  line-height: 24px;
}

.feedback-login,
.feedback-mail,
.feedback-text {
  font-size: 13px;
  line-height: 24px;
  color: #A9A9A9;
}

.modal-map h2,
.modal-basket h2 {
  display: none;
}

.modal-basket-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  font-weight: 700;
}

.modal-basket a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.modal-basket-buy {
  color: var(--white);
  background-color: var(--basic-red);
}

.modal-basket-continue {
  color: var(--black);
  background-color: var(--white);
}
